<div class="brick">
  
  <%= image_tag artifact.image_url, :class => "img" %>
  
  <p class="img-title"><%= artifact.title %></p>
  
  <p class="img-location"><%= artifact.city + ", " + artifact.country%></p>
  
</div> 